<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Чат</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/28e8f88d79.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <link href="css/chat.css" rel="stylesheet">
    <style>
        .container {
            margin: 0 auto;
            /*width: 750px;*/
            background: #444753;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:replace="~{/fragments/navbar.html :: header-admin}"/>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <div th:replace="~{/fragments/navbar.html :: header-lk}"/>
</div>

<div class="container clearfix">
    <div class="people-list" id="people-list">
        <div class="search">
            <input id="userName" placeholder="Поиск" type="text"/>
            <!--            <button onclick="fetchAll()">Refresh</button>-->
        </div>
        <!-- <th:block th:each="ad : ${admin}">-->
        <th:block th:each="chat : ${chats}">
            <ul class="list" id="usersList">
                <li class="clearfix">
                    <a id="addUser" th:data-longDescription="${chat.userId}"
                       onclick="selectUser(this.getAttribute('data-longDescription'))">
                        <!--img src="" width="55px" height="55px" alt="avatar" /-->
                        <div class="about">
                            <div id="userNameAppender_" class="name" th:text="${chat.last_name}+' '+${chat.first_name}">
                            </div>
                            <div class="status">
                                <i class="fa fa-circle offline"></i>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </th:block>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
<!--            <img alt="avatar" height="55px"-->
<!--                 src=""-->
<!--                 width="55px"/>-->

            <div class="chat-about">
                <div class="chat-with" id="selectedUserId">
                    Вы не выбрали пользователя
                    <i class="far fa-frown m-lg-2" style="font-size: 20px"></i>
                </div>
                <div class="chat-num-messages"></div>
            </div>
<!--            <i class="fa fa-star"></i>-->
        </div> <!-- end chat-header -->

        <div class="chat-history" id="chatHistoryId">
            <ul>

            </ul>
        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea id="message-to-send" name="message-to-send" placeholder="Напишите сообщение..." rows="3"></textarea>
            <button id="sendBtn">Отправить</button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}</span> &nbsp; &nbsp;
            <span class="message-data-name">Вы</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{userName}}</span>
            <span class="message-data-time">{{time}}</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>
<script>
    var user = "[[${user.getEmail()}]]";
    var userId = "[[${user.getUserId()}]]";
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/chat-client.js}"></script>
</body>
</html>
