<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">
  <link th:href="@{/css/admin.css}" rel="stylesheet" >
  <title>Отклонение объявления</title>
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  <div th:replace="fragments/navbar :: header-admin"/>
</div>
<h1 class="reject">Комментарий</h1>
<form class="reject" th:action="@{/admin/reject/{id}(id=${id})}" th:object="${comment}" method="POST" enctype="utf8">
<!--  <div class="form-group reject-form-group">-->
<!--    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Пишите здесь</label>-->
<!--    <input name='comment' class="form-control form-control-lg reject" type="text" placeholder="" id="inputLarge">-->
<!--  </div>-->
  <div class="form-group">
    <label for="exampleTextarea" class="form-label mt-4">Пишите здесь</label>
    <textarea th:field="*{text}" class="form-control reject" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button class="btn btn-danger reject" href="#" onclick="this.parentNode.submit()">Отправить</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>