<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">

    <title>Каталог автомобилей</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: header"/>
<h2 class="h2_style">Выбор марки</h2>
<div class="column">

    <li style="margin-bottom: 10px" type="none" th:each="brand : ${brands}">
        <a class="link_theme_auto" th:text="${brand.toString()}"
           th:href="@{cars/{brand}(brand=${brand.toString()})}"></a>
    </li>

</div>
</body>
</html>

