<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Каталог автомобилей</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: header"/>

    <div style="width: 60%; margin:0 auto">
        <h2 class="h2_style">Комплектации <p th:text="${transports.get(0).brand + ' ' + transports.get(0).model + ' ' + transports.get(0).generationName + ' ' + transports.get(0).generationYears}"></p> </h2>
        <table class="table table-hover" >
            <tbody>
            <tr align="center">
                <th >Название</th>
                <th>Двигатель и коробка</th>
                <th>Тип кузова</th>
                <th></th>
            </tr>
            <tr th:each="transport : ${transports}">
                <td>
                    <p align="center" th:text="${transport.equipment}"></p>
                </td>
                <td>
                    <p align="center" th:text="${transport.specificationType + ' ' + transport.specificationPower + ' ' + transport.fuel}"></p>
                </td>
                <td>
                    <p align="center" th:text="${transport.bodyType}"></p>
                </td>
                <td>
                    <a style="text-decoration:none;" th:href="@{/ad}">Посмотреть объявления</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>