<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
</head>
<body>
<!--    this is navbar for everybody -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Perekupam.net</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ads}">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li>
                    <form class="d-flex">
                        <label>
                            <input class="form-control me-sm-2" type="text" placeholder="Поиск по объявлениям">
                        </label>
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </li>
            </ul>
            <th:block sec:authorize="isAuthenticated()">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-info" th:href="@{/lk/all}" sec:authentication="name">Info</a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle show"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1"
                             style="position: absolute; inset: 0px auto auto -105px; margin: 0px; transform: translate(0px, 50px);"
                             data-popper-placement="bottom-start">
                            <a class="dropdown-item" th:href="@{/lk/all}">Настройки</a>
                            <a class="dropdown-item" th:href="@{/logout}">Выход</a>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()">
                <form th:action="@{/reg}" class="d-flex">
                    <button type="submit" class="btn btn-outline-warning">Регистрация</button>
                </form>
                <form th:action="@{/login}" class="d-flex" style="margin-left: 15px">
                    <button type="submit" class="btn btn-outline-success">Вход</button>
                </form>
            </th:block>
        </div>
    </div>
</nav>
<!--    this is navbar for logged-in users -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="header-lk">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Perekupam.net</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lk/my_ads}">Мои Объявления</a><!-- Добавить контроллер своих объявлений -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lk/reviews}">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chat}">Сообщения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Избранное</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lk/wallet}">Кошелек</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">История</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ads}">Каталог</a>
                </li>
            </ul>
            <th:block sec:authorize="isAuthenticated()">
<!--                <img th:object="${user}" style="border-radius: 50%; width: 64px; margin-right: 15px;" th:src="@{${user.imagesPath}}"/>-->
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-info" th:href="@{/lk/all}" sec:authentication="name">Info</a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop2" type="button" class="btn btn-info dropdown-toggle show"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu show" aria-labelledby="btnGroupDrop2"
                             style="position: absolute; inset: 0px auto auto -105px; margin: 0px; transform: translate(0px, 50px);"
                             data-popper-placement="bottom-start">
                            <a class="dropdown-item" th:href="@{/lk/all}">Настройки</a>
                            <a class="dropdown-item" th:href="@{/logout}">Выход</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</nav>
<!--    this is navbar for admin -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="header-admin">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Perekupam.net</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Объявления на модерации</a><!-- Добавить контроллер своих объявлений -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chat}">Сообщения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">История</a>
                </li>
            </ul>
            <th:block sec:authorize="isAuthenticated()">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-info" th:href="@{/lk/all}" sec:authentication="name">Info</a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle show"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu show" aria-labelledby="btnGroupDrop3"
                             style="position: absolute; inset: 0px auto auto -105px; margin: 0px; transform: translate(0px, 50px);"
                             data-popper-placement="bottom-start">
                            <a class="dropdown-item" th:href="@{/lk/all}">Настройки</a>
                            <a class="dropdown-item" th:href="@{/logout}">Выход</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</nav>
</body>
</html>
