<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">

    <title>Настройки</title>
</head>

<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:replace="~{/fragments/navbar.html :: header-admin}"/>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <div th:replace="~{/fragments/navbar.html :: header-lk}"/>
</div>

<fieldset>
    <div class="form-group" style="width: 35%; padding-left: 50px">
        <label class="form-label mt-4" style="font-size: 35px;">Личный кабинет</label>
        <form action="#"
              th:action="@{/lk/all/update}"
              th:object="${user}"
              method="post">

            <div class="form-group">
                <label for="exampleInputFirstName" class="form-label mt-4">Имя</label>
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp" th:field="*{first_name}">
            </div>
            <div class="form-group">
                <label for="exampleInputLastName" class="form-label mt-4">Фамилия</label>
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp" th:field="*{last_name}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label mt-4">Пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" th:placeholder="Пароль" th:field="*{password}">
            </div>
            <div class="form-group">
                <label for="exampleInputPhoneNumber" class="form-label mt-4">Номер телефона</label>
                <input type="text" class="form-control" id="exampleInputPhoneNumber" aria-describedby="phoneNumberHelp" th:field="*{phone_number}">
            </div>

            <button type="submit" class="btn btn-primary" style="width: 50%">Редактировать</button>
        </form>

        <!--<h1 th:text="${user.getBalance()}"></h1>-->
        <!--<h1 th:text="${user.getUsername()}"></h1>
        <h1 th:text="${user.getFirstName()}"></h1>-->
    </div>
</fieldset>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
