<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header>
  <div class="container">
    <div class="Logo"><a href="index.php"><img src="images/Logo.png" width="65" height="65" alt="" /></a></div>
    <nav>
      <ul class="menu">
        <li>
          <a href="register.php">Регистрация</a><br />
        </li>
        <li>
          <a href="login.php">Авторизация</a><br />
        </li>
      </ul>
    </nav>
  </div>
</header>

<div style="" class="midLine">
  <div class="titles">
    <h1>
      Авиарейсы Аэропорта
    </h1>
    <div class="titles_first">
      Информационно-справочная система
    </div>
    <a class="button" href="login.php">Войти</a>

  </div>
</div>

<section id="services">
  <div class="container">
    <div class="title">
      <h2>
        О нас<p><a name="about_us"></a></p>
      </h2>
      <p>
        Приемущества данного сервиса:
      </p>
    </div>
    <div class="services clearfix">
      <div class="services_item">
        <img src="images/icon1.png" alt="Расписание" width="60">
        <h3>Следи за расписанием</h3>
        <p>
          Данный сервис позволяет
          смотреть расписание самолетов нашего аэропорта.
        </p>
      </div>
      <div class="services_item">
        <img src="images/icon2.png" alt="Безопасно" width="60">
        <h3>Удобно и безопасно</h3>
        <p>
          Сервис разработан с заботой о пользователях
          Все данные зашифрованы и защищены по современным стандартам.
          Третьи лица не смогут получить к ним доступ.
        </p>
      </div>
      <div class="services_item">
        <img src="images/icon3.png" alt="Быстро" width="60">
        <h3>Быстро</h3>
        <p>
          Сервис позволяет Вам работать с данными быстро.
          Простой и удобный интерфейс поможет выполнять
          работу в самые короткие сроки.
        </p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="clearfix">
    <div class="container">
      <div class="contact">
        <img src="images/email.png" class="contact1" alt="Email"/> </div>
      <div class="contact2">
        Есть вопросы?
        Пришли их на почту:
        <a href="#">popkov99@yandex.ru</a>
      </div>
    </div>
    <div class="contact3">
      © Popkov Anton 2019
    </div>
  </div>
  </div>
</footer>
