<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">

    <title>Отзывы</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Perekupam.net</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/catalog/cars}">Объявления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/lk/reviews}">Отзывы
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Сообщения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Избранное</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lk/wallet}">Кошелек</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">История</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lk/all}">Настройки</a>
                </li>
            </ul>
            <form th:action="@{/lk/all}" class="d-flex">
                <button type="submit" class="btn btn-outline-warning">Личный кабинет</button>
            </form>
        </div>
    </div>
</nav>


<h1>ОТЗЫВЫ</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Текст</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${list}">
        <td th:text="${review.id}"></td>
        <td th:text="${review.text}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
