#main-form {
    padding-left: 100px;
    padding-right: 100px;
}

#label-lk {
    font-size: 35px;
}

.btn-primary {
    margin: 40px auto 20px auto;
    width: 100%;
}

img {
    border-radius: 50%;
    width: 64px;
    margin-right: 15px;
}

.lk-table{
    width: 100%; /* Try setting this to 400px or something */
    display: table;
}
.lk-child{
    margin-top: 140px;
    display: table-cell;
}
.button-seller {
    margin-left: auto;
}
