.container {
    width: 70%;
    margin:0 auto;
}

.row {
    margin-bottom: 10px;
    margin-top: 10px;
}

.name-col {
    padding: 1.5rem;
}

.ad {
    padding: 1.5rem;
    border: 1px #55595c;
}

.ad:hover {
    background-color: rgba(0, 0, 0, 0.075);
    color: #55595c;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

.name-col {
    align-content: center;
}
