.container {
    width: 70%;
    margin:0 auto;
}

table {
    width: 100%;
    border-spacing: 50px 0;
    margin: auto auto 20px auto;
    border: 3px solid black;
}

td {
    align-content: center;
}

#yearSelect {
    margin-bottom: 10px;
}

.row {
    margin-bottom: 10px;
    margin-top: 10px;
}

#label-filter {
    font-size: 35px;
}

#btn-filter {
    width: 82%;
    padding-bottom: 7px;
    padding-top: 7px;
}

.name-col {
    padding: 1.5rem;
}

.ad {
    padding: 1.5rem;
    border: 1px #55595c;
}

.ad:hover {
    background-color: rgba(0, 0, 0, 0.075);
    color: #55595c;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}
