<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">
    <title>Объявления</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Perekupam.net</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/catalog/cars}">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Поиск по объявлениям">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </li>
            </ul>
            <form th:action="@{/reg}" class="d-flex">
                <button type="submit" class="btn btn-outline-warning">Регистрация</button>
            </form>
            <form th:action="@{/login}" class="d-flex" style="margin-left: 15px">
                <button type="submit" class="btn btn-outline-success">Вход</button>
            </form>
        </div>
    </div>
</nav>
    <div style="width: 70%; margin:0 auto; font-family: Arial,Helvetica Neue,Helvetica, sans-serif;">
        <table width="100%" style="border-spacing: 50px 0px">
            <tbody>
            <th:block th:each="ad : ${ads}">
                <tr>
                    <td colspan="2">
                        <b>
                            <p style="margin: 5px" th:text="${ad.transport.brand + ' ' + ad.transport.model + ' ' + ad.transport.generationName}"></p>
                        </b>
                    </td>
                    <td>
                        <b><p style="margin: 5px" th:text="${ad.price} + ' ' + ₽"></p></b>
                    </td>
                    <td>
                        <p style="margin: 5px" th:text= "${#dates.format(ad.yearOfIssue, 'yyyy')}"></p>
                    </td>
                    <td>
                        <p style="margin: 5px" th:text= "${ad.mileage} + ' км'"></p>
                    </td>
                </tr>

                <tr>
                    <td style="color: grey">
                        <p style="margin: 5px" th:text= "${ad.transport.specificationType + ' / ' + ad.transport.specificationPower + ' / ' + ad.transport.fuel}"></p>
                    </td>
                    <td style="color: grey">
                        <p style="margin: 5px" th:text="${ad.driveUnit} + ' привод'"></p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="btn btn-dark" th:href="@{/ads/{id}(id=${ad.adId})}">Подробнее</a></td>
                </tr>

                <tr>
                    <td style="color: grey">
                        <p style="margin: 5px" th:text= "${ad.transport.bodyType}"></p>
                    </td>
                    <td style="color: grey">
                        <p style="margin: 5px" th:text="${ad.color} + ' цвет'"></p>
                    </td>
                </tr>

            </th:block>
            </tbody>

        </table>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>