<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создание объявления</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: header"/>
<h2 class="h2_style">Выбор марки</h2>
<div class="column">

    <li style="margin-bottom: 10px" type="none" th:each="brand : ${brands}">
        <a class="link_theme_auto" th:text="${brand.toString()}" th:href="@{{brand}(brand=${brand.toString()})}"></a>
    </li>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>

