<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Изменение объявления</title>
</head>
<body>
<div th:replace="fragments/navbar :: header-lk"/>

<form method="POST">

    <input type="hidden" th:value="${ad.transport.getTransportId()}" th:name="transportId" />
    <label for="address">Введите адрес: </label>
    <input type="text" th:field="*{ad.address}" id="address"/>
    <br/>
    <label for="color">Выберите цвет: </label>
    <input type="text" th:field="*{ad.color}" id="color"/>
    <br/>
    <label for="description">Описание: </label>
    <input type="text" th:field="*{ad.description}" id="description"/>
    <br/>
    <label for="driveUnit">Выберите привод машины</label>
    <input type="text" th:field="*{ad.driveUnit}" id="driveUnit"/>
    <br/>
    <label for="mileage">Введите пробег: </label>
    <input type="text" th:field="*{ad.mileage}" id="mileage"/>
    <br/>
    <label for="numberOfOwners">Введите количество владельцев: </label>
    <input type="text" th:field="*{ad.numberOfOwners}" id="numberOfOwners"/>
    <br/>
    <label for="price">Введите цену: </label>
    <input type="text" th:field="*{ad.price}" id="price"/>
    <br/>
    <label for="stateNumber">Введите номер машины: </label>
    <input type="text" th:field="*{ad.stateNumber}" id="stateNumber"/>
    <br/>
    <label for="sts">Введите СТС: </label>
    <input type="text" th:field="*{ad.sts}" id="sts"/>
    <br/>
    <label for="vin">Введите ВИН: </label>
    <input type="text" th:field="*{ad.vin}" id="vin"/>
    <br/>
    <label for="yearOfIssue">Введите дату выпуска: </label>
    <input type="text" th:field="*{ad.yearOfIssue}" id="yearOfIssue"/>
    <br/>
    <input type="hidden" th:value="${ad.getStatus()}" th:name="status" />
    <input type="hidden" th:value="${ad.isVerified()}" th:name="verified" />


    <input type="submit" value="Изменить "/>

</form>
<!--    </div>-->
</body>
</html>