<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Заполнение данных</title>
</head>
<body>
<div th:replace="fragments/navbar :: header-lk"/>

<div class="form-group" style="padding-left: 20px; padding-right: 100px;">
    <label class="form-label mt-4" id="label-login" style="font-size: 35px">Заполните информацию о Вашей машине </label>
    <form th:method="POST"
          th:action="@{/ad/create}"
          th:object="${ad}"
          enctype="multipart/form-data">

        <input type="hidden" th:value="${ad.transport.getTransportId()}" th:name="transportId"/>
        <div class="form-group row">
            <label for="address" class="col-xs-2 col-form-label">Введите адрес</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" th:field="*{address}" id="address">
            </div>
        </div>
        <div class="form-group row">
            <label for="color" class="col-xs-2 col-form-label">Выберите цвет</label>
            <div class="col-sm-5" id="color">
                <!--                <input class="form-control" id="color">-->
                <select class="form-control" th:field="*{color}">
                    <option th:value="Красный"> Красный</option>
                    <option th:value="Белый"> Белый</option>
                    <option th:value="Чёрный"> Чёрный</option>
                    <option th:value="Серый"> Серый</option>
                    <option th:value="Жёлтый"> Жёлтый</option>
                    <option th:value="Синий"> Синий</option>
                    <option th:value="Зелёный"> Зелёный</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-xs-2 col-form-label">Описание</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" th:field="*{description}" id="description">
            </div>
        </div>
        <div class="form-group row">
            <label for="driveUnit" class="col-xs-2 col-form-label">Выберите привод машины</label>
            <div class="col-sm-5" id="driveUnit">
                <select class="form-control" th:field="*{driveUnit}">
                    <option th:value="Передний"> Передний</option>
                    <option th:value="Задний"> Задний</option>
                    <option th:value="Полный"> Полный</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="mileage" class="col-xs-2 col-form-label">Введите пробег</label>
            <div class="col-sm-5">
                <input class="form-control" type="number" min="0" th:field="*{mileage}" id="mileage">
            </div>
        </div>
        <div class="form-group row">
            <label for="numberOfOwners" class="col-xs-2 col-form-label">Введите количество владельцев</label>
            <div class="col-sm-5">
                <input class="form-control" type="number" min="0" th:field="*{numberOfOwners}" id="numberOfOwners">
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-xs-2 col-form-label">Введите цену</label>
            <div class="col-sm-5">
                <input class="form-control" type="number" min="0" th:field="*{price}" id="price">
            </div>
        </div>
        <div class="form-group row">
            <label for="stateNumber" class="col-xs-2 col-form-label">Введите номер машины</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" th:field="*{stateNumber}" id="stateNumber">
            </div>
        </div>
        <div class="form-group row">
            <label for="sts" class="col-xs-2 col-form-label">Введите СТС</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" th:field="*{sts}" id="sts">
            </div>
        </div>
        <div class="form-group row">
            <label for="vin" class="col-xs-2 col-form-label">Введите ВИН</label>
            <div class="col-sm-5">
                <input class="form-control" type="number" min="0" th:field="*{vin}" id="vin"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="yearOfIssue" class="col-xs-2 col-form-label">Введите дату выпуска</label>
            <div class="col-sm-5">
                <input class="form-control" type="date" th:field="*{yearOfIssue}" id="yearOfIssue"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="image" class="form-label mt-4">Загрузить фото</label>
            <div class="col-sm-5">
                <input class="form-control" type="file" id="image" name="image" title=" "
                       accept="image/png, image/jpeg" multiple/>
            </div>
        </div>
        <input type="hidden" th:value="${ad.getStatus()}" th:name="status"/>
        <input type="hidden" th:value="${ad.isVerified()}" th:name="verified"/>
        <div class="form-group row">
            <div class="col-sm-5">
                <input class="btn btn-dark" type="submit" value="Создать"/>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
