<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">
    <title>Объявление</title>
</head>
<body style="font-family: Arial,Helvetica Neue,Helvetica, sans-serif; margin:0 auto">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Perekupam.net</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/catalog/cars}">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Поиск по объявлениям">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </li>
            </ul>
            <form th:action="@{/reg}" class="d-flex">
                <button type="submit" class="btn btn-outline-warning">Регистрация</button>
            </form>
            <form th:action="@{/login}" class="d-flex" style="margin-left: 15px">
                <button type="submit" class="btn btn-outline-success">Вход</button>
            </form>
        </div>
    </div>
</nav>

<form th:method="POST" th:action="@{/ad/tmp}" th:object="${ad}">

    <input type="hidden" th:value="${ad.transport.getTransportId()}" th:name="transportId" />
    <label for="address">Введите адрес: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <br/>
    <label for="color">Выберите цвет: </label>
    <input type="text" th:field="*{color}" id="color"/>
    <br/>
    <label for="description">Описание: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>
    <label for="driveUnit">Выберите привод машины</label>
    <input type="text" th:field="*{driveUnit}" id="driveUnit"/>
    <br/>
    <label for="mileage">Введите пробег: </label>
    <input type="text" th:field="*{mileage}" id="mileage"/>
    <br/>
    <label for="numberOfOwners">Введите количество владельцев: </label>
    <input type="text" th:field="*{numberOfOwners}" id="numberOfOwners"/>
    <br/>
    <label for="price">Введите цену: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <br/>
    <label for="stateNumber">Введите номер машины: </label>
    <input type="text" th:field="*{stateNumber}" id="stateNumber"/>
    <br/>
    <label for="sts">Введите СТС: </label>
    <input type="text" th:field="*{sts}" id="sts"/>
    <br/>
    <label for="vin">Введите ВИН: </label>
    <input type="text" th:field="*{vin}" id="vin"/>
    <br/>
    <label for="yearOfIssue">Введите дату выпуска: </label>
    <input type="text" th:field="*{yearOfIssue}" id="yearOfIssue"/>
    <br/>
    <input type="hidden" th:value="${ad.getStatus()}" th:name="status" />
    <input type="hidden" th:value="${ad.isVerified()}" th:name="verified" />

       <input type="submit" value="Создать! "/>
<!--    <a style="text-decoration:none;" th:href="@{/ads/}">Создать!</a>-->

</form>


</body>
</html>