<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/lux/bootstrap.min.css">

    <!-- Style -->
    <script src="https://kit.fontawesome.com/28e8f88d79.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Мои объявления</title>
</head>
<body>
<div th:replace="fragments/navbar :: header-lk"/>

<div class="form-group" style="padding-top:15%">
<div class="container">
    <div th:if="${user.size()} == 0">
        <div class="col text-center" style="margin: auto">
            <label class="form-label mt-4" style="font-size: 35px">Пока вы не добавили избранное </label>
            <i class="far fa-frown m-lg-2" style="font-size: 30px"></i>
        </div>
    </div>
    <div th:unless="${user.size()} == 0">
        <table class="table table-hover">
            <tbody th:each="ad : ${user}">
            <tr scope="row">
                <td>
                    <p th:text="${ad.transport.brand + ' ' + ad.transport.model + ' ' + ad.transport.generationName}"></p>
                    <p th:text="${ad.transport.specificationType + ' / ' + ad.transport.specificationPower + ' / ' + ad.transport.fuel}"></p>
                    <p th:text="${ad.transport.bodyType}"></p>
                </td>
                <td>
                    <p style="margin: 5px" th:text="${ad.driveUnit} + ' привод'"></p>
                    <p style="margin: 5px" th:text="${ad.color} + ' цвет'"></p>
                </td>
                <td>
                    <b><p style="margin: 5px" th:text="${ad.price} + ' ' + ₽"></p></b>
                </td>
                <td>
                    <p style="margin: 5px" th:text="${#dates.format(ad.yearOfIssue, 'yyyy')}"></p>
                </td>
                <td>
                    <p style="margin: 5px" th:text="${ad.mileage} + ' км'"></p>
                </td>
                <td>
                    <div class="row">
                        <div class="col more-btn">
                            <a class="btn btn-dark" th:href="@{/ads/{id}(id=${ad.id})}">Подробнее</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
